<!DOCTYPE html>
<html lang="en">
<head>
<!--     <base href="/" />
 --><title>Chandra and Chris</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="main.css" />
    <!--<script src="/main.js"></script>-->
</head>
<body>

<section id="home" class='state-container'>
    <div>
      <h1>
        All the Details
      </h1>  
    </div>
    <div>
        <h3>When: September 17th, 2016</h3>
        <h3>Where: Women's Club of Englewood Carriage House, Englewood NJ</h3>
    </div>
    
   <div>
        <img src="/images/carriage-house.jpg">
    </div>
    <div>
        <h2>Directions</h2>
    </div>
    <div>
        <h2>Hotels</h2>
    </div>
    <div>
        <h2>Things to do nearby</h2>
    </div>


</section>
</body>
</html>