<!DOCTYPE html>
<html lang="en">
<head>
<!--     <base href="/" />
 --><title>Chandra and Chris</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="main.css" />
    <!--<script src="/main.js"></script>-->
</head>
<body>

<nav class="navbar navbar-fixed-top">
    <div class="container">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Home</a></li>
            <li><a href="/story">Our Story</a></li>
            <li><a href="/details">Details</a></li>
            <li><a href="/visiting">Visiting the Area</a></li>
            <li><a class='active' href="/gifts">Gifts</a></li>
            <li><a href="/rsvp">RSVP</a></li>
        </ul>
    </div>
</nav>

<section id="home" class='state-container'>
    <div class='container'>
      <h1>Gifts</h1>  
    </div>
    
   <div class='container'>
        <h2 class='text-center'>What we want most is to celebrate with your lovely selves.  However, if you wish to give a gift, we created a registry on Amazon.  We also included a few items from Bed Bath and Beyond in case you wanted to shop in person.</h2>
        <!-- <h3>What we want most is to celebrate with your lovely selves.  However, if you want to give a gift, we have created a registry.  We also love charity donations, and have included a couple of our favorites</h3> -->
        <h3 class='text-center'> <a href="https://smile.amazon.com/wedding/chris-thomas-chandra-galbiati-englewood-september-2016/registry/2Q6IDPZUUH9JW">Amazon</a></h3>

        <h3 class='text-center'> <a href="http://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?pwsToken=&eventType=Wedding&registryId=543418940&pwsurl=">Bed Bath & Beyond</a></h3>

        <h2 class='text-center'>Additionally, we live in a small appartment and are hoping to buy a small appartment soon so help with our down payment in lieu of stuff would also be appreciated.</h2>

        <center class='thumb-img bw-pic'><img style='width: 300px; border-radius: 50%;' src="http://fm.cnbc.com/applications/cnbc.com/resources/img/editorial/2014/03/25/101524133-85537232.530x298.jpg?v=1395769831"></center>
        
    </div>

</section>

</body>
</html>