<!DOCTYPE html>
<html lang="en">
<head>
<!--     <base href="/" />
 --><title>Chandra and Chris</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="main.css" />
    <!--<script src="/main.js"></script>-->
</head>
<body>

<section id="home" class='state-container'>
    <div class='heading'>
      <h1>
        What are you doing here? We haven't even sent out invitations yet.
      </h1>  
    </div>
    
   <div class='centered'>
        <img src="/images/us.jpg" class='bw-pic centered' id='splash-pic'>
    </div>
<!-- <h2 class='rsvp-text'>What are you doing here? We haven't even sent out invitations yet.</h2> -->

</section>

</body>
</html>