<!DOCTYPE html>
<html lang="en">
<head>
    <title>Chandra and Chris</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="main.css" />
</head>
<body>

<nav class="navbar navbar-fixed-top">
    <div class="container">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Home</a></li>
            <li><a href="/story">Our Story</a></li>
            <li><a href="/details">Details</a></li>
            <li><a href="/visiting">Visiting the Area</a></li>
            <li><a href="/gifts">Gifts</a></li>
            <li><a class='active' href="/rsvp">RSVP</a></li>
        </ul>
    </div>
</nav>

<section id="home" class='state-container'>
      <h1>
        RSVP
      </h1>  

    <div id="submit-code" class='text-center rsvp-form'>
        <p>Please submit your code (listed on your RSVP card) below to look up your RSVP info</p>

        <form
            method="POST"
            action="/api/code"
        >
            <span>Code</span>
            <input type="text" name="code" />
            <input type="submit">
        </form>
    </div>
</section>

</body>
</html>