<!DOCTYPE html>
<html lang="en">
<head>
<title>Chandra and Chris</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="story.css" />
</head>
<body>
<div id='nav-br'></div>
<nav class="navbar navbar-fixed-top">
    <div class="container">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Home</a></li>
            <li><a class='active' href="/story">Our Story</a></li>
            <li><a href="/details">Details</a></li>
            <li><a href="/visiting">Visiting the Area</a></li>
            <li><a href="/gifts">Gifts</a></li>
            <li><a href="/rsvp">RSVP</a></li>
        </ul>
    </div>
</nav>

<div id='our-story' class='parallax state-container'>
<div class='parallax state-container'>   
    <div class="parallax__layer parallax-background">
        <img src="/images/coloredgrunge5.jpg">
    </div>
        <div id='timeline' class='parallax__layer parallax__layer--front'></div>

        <div class='paralax__layer parallax__layer--base'></div>
        <h1>Our Story</h1>
            <div class='event'>
            <div class='date'>1993</div>
            <p>When her friends wanted to play house, she insisted on being the cat.</p>
        </div>
        <div class='event'>
            <div class='date'>1993-2005</div>
            <p>He swam a bunch, especially backstroke because looking where you're going is overrated.</p>
        </div>
        <div class='event'>
            <div class='date'>2002</div>
            <p>She became obsessed with ski racing.  It is the closest she can get to flying.</p>
        </div>
        <div class='event'>
            <div class='date'>2008</div>
            <p>He traveled all over Europe (10 countries in 5 weeks)</p>
        </div>
        <div class='event'>
            <div class='date'>2006-2011</div>
            <p>She caught the travel bug, and proceded to leave the country whenever possible, doing various forms of study-abroad in France, Croatia, Morocco, and Palestine.</p>
        </div>
        <div class='event'>
            <div class='date'>Aug 2009</div>
            <p>After finishing college, he jumped into a Computer Science PhD program at Washington University in St Louis.</p>
        </div>
        <div class='event'>
            <div class='date'>2010</div>
            <p>She decided to study literature because who needs a job?.</p>
        </div>
        <div class='event'>
            <div class='date'>May 2011</div>
            <p>He picked up a consolation prize Master's Degree after he decided that in Computer Science, a PhD isn't really worth the time.</p>
        </div>
        <div class='event'>
            <div class='date'>May 2012</div>
            <p>She moved to New York to teach science in a middle school in East Harlem.</p>
        </div>
        <div class='event'>
            <div class='date'>Apr 2012</div>
            <p>He got a Software Engineering job in NYC and finally started doing that whole "Productive Member of Society" thing.</p>
        </div>
        <div class='event'>
            <div class='date'>Nov 2012</div>
            <p>While procrastinating on grading papers, she decided to check out that online dating thing everyone kept talking about.</p>
        </div>
        <div class='event'>
            <div class='date'>Dec, 2012</div>
            <p>He signed up for the New York City Half Marathon and began training for his first long distance race.</p>
        </div>
        <div class='event'>
            <div class='date'>Jan 2013</div>
            <p>He caught her attention on OK Cupid for smelling old books.</p>
        </div>
        <div class='event'>
            <div class='date'>Jan 2013</div>
            <p>He decided to give her a chance because she gave an interesting, non-obvious-tourist destination suggestion for where to take pictures.</p>
        </div>
        <div class='event'>
            <div class='date'>Jan 18, 2013</div>
            <p>At the end of their first date, he suggested a walk, and after walking 80 blocks up the Hudson River in the frigid January weather, her legs were almost numb, but she realized there might be something there.</p>
        </div>
        <div class='event'>
            <div class='date'>Jan 18, 2013</div>
            <p>After a pretty awkward dinner, he convinced her to take a long walk though an empty park in the freezing cold at night with a stranger from the internet, thus saving their first date and raising some pretty alarming questions about her decision making</p>
        </div>
        <div class='event'>
            <div class='date'>Jul, 2014</div>
            <p>She finished her masters degree in teaching, and could finally stop pretending to dedicate any of her time to something besides the actual teaching part.</p>
        </div>
        <div class='event'>
            <div class='date'>Nov, 2014</div>
            <p>He finished his first marathon.</p>
        </div>
        <div class='event'>
            <div class='date'>Jun 2015</div>
            <p>She decided to quit teaching and become a software engineer</p>
        </div>
        <div class='event'>
            <div class='date'>Jul 2015</div>
            <p>While in Aruba he proposed on a deserted beach.  She said yes, raising even more alarming questions about her decision making.</p>
        </div>
        <div class='parallax__layer paralax__layer-2 timeline-pic' id='kid'></div>
        <div class='parallax__layer paralax__layer-2 timeline-pic' id='cat'></div>
        <div class='parallax__layer paralax__layer-2 timeline-pic' id='ski'></div>
        <div class='parallax__layer paralax__layer-2 timeline-pic' id='morocco'></div>
        <div class='parallax__layer paralax__layer-2 timeline-pic' id='books'></div>
        <div class='parallax__layer paralax__layer-2 timeline-pic' id='teach'></div>
        <div class='parallax__layer paralax__layer-2 timeline-pic' id='stranger'></div>
        <div class='parallax__layer paralax__layer-2 timeline-pic' id='party'></div>
        <div class='parallax__layer paralax__layer-2 timeline-pic' id='software'></div>
        <div class='parallax__layer paralax__layer-2 timeline-pic' id='aruba'></div>


        <div class='parallax__layer paralax__layer-2 timeline-pic' id='swim'></div>
        <div class='parallax__layer paralax__layer-2 timeline-pic' id='project'></div>
        <div class='parallax__layer paralax__layer-2 timeline-pic' id='euro'></div>
        <div class='parallax__layer paralax__layer-2 timeline-pic' id='grad'></div>
        <div class='parallax__layer paralax__layer-2 timeline-pic' id='nyc'></div>
        <div class='parallax__layer paralax__layer-2 timeline-pic' id='nyc-half'></div>
        <div class='parallax__layer paralax__layer-2 timeline-pic' id='park'></div>
        <div class='parallax__layer paralax__layer-2 timeline-pic' id='marathon'></div>
        <div class='parallax__layer paralax__layer-2 timeline-pic' id='propose'></div>

        </div>

        </div>
    </div>       
</div>
<div id='bottom'></div>
    

</div>

</body>
</html>