<!DOCTYPE html>
<html lang="en">
<head>
<!--     <base href="/" />
 --><title>Chandra and Chris</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="main.css" />
    <!--<script src="/main.js"></script>-->
</head>
<body>

<nav class="navbar navbar-fixed-top">
    <div class="container">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Home</a></li>
            <li><a class='active' href="/story">Our Story</a></li>
            <li><a href="/details">Details</a></li>
            <li><a href="/visiting">Visiting the Area</a></li>
            <li><a href="/gifts">Gifts</a></li>
            <li><a href="/rsvp">RSVP</a></li>
        </ul>
    </div>
</nav>

<div id='our-story' class='parallax state-container'>
    <div class="parallax__layer parallax-background">
        <img src="/images/coloredgrunge5.jpg">
    </div>
  <div id='timeline' class='parallax__layer parallax__layer--front'></div>

    <div class='paralax__layer parallax__layer--base'>
    </div>
        <h1>Our Story</h1>
            <div class='date'>1993</div>
            <div class='event'>
                
                <p>When her friends wanted to play house, she insisted on being the cat.</p>
            </div>
            <div class='event'>
                <p>2002: She became obsessed with ski racing.  It is the closest she can get to flying.</p>
            </div>
            <div class='event'>
                <p>2006-2011: She caught the travel bug, and proceded to leave the country whenever possible, doing various forms of study-abroad in France, Croatia, Morocco, and Palestine.</p>
            </div>
            <div class='event'>
                <p>May 2012: She moved to New York to teach science in a middle school in East Harlem.</p>
            </div>
            <div class='event'>
                <p>Nov 2012: While procrastinating on grading papers, she decided to check out that online dating theing everyone kept talking about.</p>
            </div>
            <div class='event'>
                <p>Jan 2013: He caught her attention on OK Cupid for smelling old books.</p>
            </div>
            <div class='event'>
                <p>Jan 18, 2013: At the end of their first date, he suggested a walk, and after walking 80 blocks up the Hudson River in the frigid January weather, her legs were almost numb, but they both realized there might be something there.</p>
            </div>
            <div class='event'>
                <p>Jun 2015: She decided to quit teaching and become a software engineer</p>
            </div>
            <div class='event'>
                <p>Apr 2015: She finally convinced him to come travelling with her. They decided to go to Aruba.</p>
            </div>
            <div class='parallax__layer paralax__layer-2 timeline-pic right' id='cat'></div>
            <div class='parallax__layer paralax__layer-2 timeline-pic' id='ski'></div>
            <div class='parallax__layer paralax__layer-2 timeline-pic left' id='morocco'></div>
            <!-- <div class='parallax__layer paralax__layer-2 timeline-pic left' id='aruba'></div> -->

        </div>
        <!-- <div  id='right' class='parallax-layer paralax-layer-back'>
            <p>Chris was a kid...</p>
            <p>Chris was still a kid...</p>
            <p>Chris did stuff...</p>
            <p>Apr 2012: He moved to NYC to work as a software engineer at a startup</p>
            <p>He baught his clothes online, watched TV online, did just about everything else online, and didn't see any reason he shouldn't date online as well.</p>
            <p>Nov 2014: He ran his first marathon.</p>
            <p>Jul 2015: He proposed on a deserted beach in aruba</p>
        </div> -->
        
    </div>
    

</div>

</body>
</html>