<!DOCTYPE html>
<html lang="en">
<head>
<!--     <base href="/" />
 --><title>Chandra and Chris</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="visit.css" />
    <!--<script src="/main.js"></script>-->
</head>
<body>

<nav class="navbar navbar-fixed-top">
    <div class="container">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Home</a></li>
            <li><a href="/story">Our Story</a></li>
            <li><a href="/details">Details</a></li>
            <li><a class='active' href="/visiting">Visiting the Area</a></li>
            <li><a href="/gifts">Gifts</a></li>
            <li><a href="/rsvp">RSVP</a></li>
        </ul>
    </div>
</nav>

<section id="visit" class='state-container'>
    <div class='container'>
      <h1>
        Visiting the area
      </h1>  
    </div>
    <div class='container'>
        <h2 class='sub-heading text-center'>Hotels</h2>
        <h4 class='text-center'>Chandra's mom, Janet has a block reservation with a discount at the Hilton Garden Inn Ridgefield Park.  Unfortunately, they didn't put it in correctly, and all the reservations have to go through her.  If you are interested, email her at janetbychek@yahoo.com for details.</h4>
        <h4 class='text-center'>In adition, here are a few other suggestions for hotels in the area:</h4>

        <div class='thumb-info col-sm-4'>
            <div class='thumb-img bw-pic'><img src="https://media.licdn.com/mpr/mpr/AAEAAQAAAAAAAAcdAAAAJDY5ZjQ5OWQzLTg3ZTItNDU3Mi05YzQ3LTIzYjE2OTA0MDE0MQ.jpg"></div>
            <h4 class="text-center"><a href="http://hiltongardeninn3.hilton.com/en/hotels/new-jersey/hilton-garden-inn-ridgefield-park-LGARPGI/index.html">Hilton Garden Inn Rigdefield Park</a></h4>
        </div>    
        <div class='thumb-info col-sm-4'>
            <div class='thumb-img bw-pic'><img src="http://ihg.scene7.com/is/image/ihg/crowne-plaza-englewood-2532882678-4x3?wid=768"></div>
            <h4 class="text-center"><a href="http://www.ihg.com/crowneplaza/hotels/us/en/englewood/engnj/hoteldetail?cm_mmc=GoogleMaps-_-CP-_-USA-_-ENGNJ">Crown Plaza Englewood</a></h4>
        </div>
        <div class='thumb-info col-sm-4'>
            <div class='thumb-img bw-pic'><img src="http://exp.cdn-hotels.com/hotels/1000000/50000/43200/43171/43171_153_z.jpg"></div>
            <h4 class="text-center"><a href="http://book.bestwestern.com/bestwestern/US/NJ/Fort-Lee-hotels/BEST-WESTERN-Fort-Lee/Hotel-Overview.do?propertyCode=31047&cm_mmc=BL-_-Google-_-GMB-_-31047">Best Western Fort Lee</a></h4>
        </div>
    </div>
    <div class='container'>
        <h2 class='sub-heading text-center'>Things to do</h2>
        <div class='container'>
            <h2>Near Englewood</h2>
            <div class='thumb-img bw-pic col-sm-3'><img src="http://static01.nyt.com/images/2007/11/09/travel/09trip600.1.jpg"></div>
            <h4 class='col-sm-9'>Hiking: There are some <a href="http://www.mapmyhike.com/us/englewood-cliffs-nj/">short hikes</a> along the cliffs next to the Hudson in Englewood, as well as some <a href="http://patch.com/new-jersey/teaneck/ten-great-hikes-in-new-jersey">longer ones</a> around NJ if you have a car</h4>

        </div>
        <div class='container'>
            <h2>Our favorites in NYC</h2>
            <div>
                 <h4 class='col-sm-9 dest-text'><a href="http://web.mta.info/mta/museum/">The NYC Transit Museum</a> chronicles the history of public transit in NYC, with exibits on the construction of the subways, as well as cars dating back to elevated trains in the mid-1800's</h4>
                <div class='thumb-img bw-pic col-sm-3'><img src="http://lightningfield.com/log6/040116d.jpg"></div>
            </div>
            <div>
                <div class='thumb-img bw-pic col-sm-3'><img src="http://culturecatch.com/files/images/tenement_museum_levine_kitchen.jpg"></div>
                <h4 class='col-sm-9 dest-text'><a href="https://www.tenement.org/"> The Tennament Museum</a> has tells the history of a tenament building in the Lower East Side, reconstructing the stories and apparments of tennants through the history of the building</h4>
            </div>
            <div>
                <div class='clearfix'></div>
                <h4 class='col-sm-9 dest-text'><a href="http://www.thehighline.org/">The High Line</a> is a park built on a section of abandoned elevated railway in Chelsea</h4>
                <div class='thumb-img bw-pic col-sm-3'><img src="http://urbanhs.com/wp-content/uploads/2015/03/HighLine123.jpg"></div>
            </div>
                <div class='thumb-img bw-pic col-sm-3'><img src="http://s3-media2.fl.yelpcdn.com/bphoto/KKtTrPTIwFWPzWHOtANo5g/348s.jpg"></div>
                <h4 class='col-sm-9 dest-text'>A classic, the <a href="https://www.tenement.org/">American Museum of Natural History</a> has dinosaurs.  Also a big flying whale.</h4>
            <div>
            </div>

        </div>
    </div>
    
</section>

</body>
</html>