<!DOCTYPE html>
<html lang="en">
<head>
<!--     <base href="/" />
 --><title>Chandra and Chris</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="main.css" />
    <!--<script src="/main.js"></script>-->
</head>
<body>

<nav class="navbar navbar-fixed-top">
    <div class="container">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Home</a></li>
            <li><a href="/story">Our Story</a></li>
            <li><a href="/details">Details</a></li>
            <li><a class='active' href="/visiting">Visiting the Area</a></li>
            <li><a href="/gifts">Gifts</a></li>
            <li><a href="/rsvp">RSVP</a></li>
        </ul>
    </div>
</nav>

<section id="visit" class='state-container'>
    <div class='container'>
      <h1>
        Visiting the area
      </h1>  
    </div>
    <div class='container'>
        <h2 class='sub-heading text-center'>Hotels</h2>
        <h4 class='text-center'>We have not made any block reservations, but here are a few suggestions for hotels in the area:</h4>
        <div class='thumb-info col-sm-4'>
            <div class='thumb-img bw-pic'><img src="http://ihg.scene7.com/is/image/ihg/crowne-plaza-englewood-2532882678-4x3?wid=768"></div>
            <h4><a href="http://www.ihg.com/crowneplaza/hotels/us/en/englewood/engnj/hoteldetail?cm_mmc=GoogleMaps-_-CP-_-USA-_-ENGNJ">Crown Plaza Englewood</a></h4>
        </div>
        <div class='thumb-info col-sm-4'>
            <div class='thumb-img bw-pic'><img src="http://cdn.patch.com/users/127237/2014/03/T800x600/980258da0bc196539cc77b9622d76463.jpg"></div>
            <h4><a href="http://www.marriott.com/hotels/travel/ewrgp-teaneck-marriott-at-glenpointe/">Teaneck Marriott</a></h4>
        </div>    
        <div class='thumb-info col-sm-4'>
            <div class='thumb-img bw-pic'><img src="http://exp.cdn-hotels.com/hotels/1000000/50000/43200/43171/43171_153_z.jpg"></div>
            <h4 ><a href="http://book.bestwestern.com/bestwestern/US/NJ/Fort-Lee-hotels/BEST-WESTERN-Fort-Lee/Hotel-Overview.do?propertyCode=31047&cm_mmc=BL-_-Google-_-GMB-_-31047">Best Western Fort Lee</a></h4>
        </div>
    </div>
    <div class='container'>
        <h2 class='sub-heading text-center'>Things to do</h2>
        <div class='container'>
            <h2>Near Englewood</h2>
            <div class='thumb-img bw-pic col-sm-3'><img src="http://static01.nyt.com/images/2007/11/09/travel/09trip600.1.jpg"></div>
            <h4 class='col-sm-9'>Hiking: There are some <a href="http://www.mapmyhike.com/us/englewood-cliffs-nj/">short hikes</a> along the cliffs next to the Hudson in Englewood, as well as some <a href="http://patch.com/new-jersey/teaneck/ten-great-hikes-in-new-jersey">longer ones</a> around NJ if you have a car</h4>

        </div>
        <div class='container'>
            <h2>Our favorites in NYC</h2>
             <h4 class='col-sm-9'><a href="http://web.mta.info/mta/museum/">The NYC Transit Museum</a> chronicles the history of public transit in NYC, with exibits on the construction of the subways, as well as cars dating back to elevated trains in the mid-1800's</h4>
            <div class='thumb-img bw-pic col-sm-3'><img src="http://lightningfield.com/log6/040116d.jpg"></div>
            <div class='thumb-img bw-pic col-sm-3'><img src="http://culturecatch.com/files/images/tenement_museum_levine_kitchen.jpg"></div>
            <h4 class='col-sm-9'><a href="https://www.tenement.org/"> The Tennament Museum</a> has tells the history of a tenament building in the Lower East Side, reconstructing the stories and apparments of tennants through the history of the building</h4>
            <div class='clearfix'></div>
            <h4 class='col-sm-9'><a href="http://www.thehighline.org/">The High Line</a> is a park built on a section of abandoned elevated railway in Chelsea</h4>
            <div class='thumb-img bw-pic col-sm-3'><img src="http://urbanhs.com/wp-content/uploads/2015/03/HighLine123.jpg"></div>

        </div>
    </div>
    




    <!-- <splash-page></splash-page>
    <our-story></our-story>

    <div id='wedding-details'>
    	<h1>Wedding Details</h1>
    	<div class='col-md-4'>
    		<h3>Date</h3>
    	</div>
    	<div class='col-md-4'>
    		<h3>Location</h3>
    	</div>
    </div> -->
</section>

</body>
</html>