@import 'main';

#visit{
  .thumb-img > img { 
    max-width: 100%; 
    height: auto; 
    // border: solid;
    box-shadow: 0 0 8pt black;
    border-radius: 50%;
    // position: relative;
  }

  .thumb-info{
    padding: 10pt 5% 10pt 5%;
  }

  .dest-text{
    position: relative;
    transform: translateY(60%);
    // top: 50%;
  }
  
}
